/* Hero section */
.hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: $yellow;
  @include flex(flex-end, center, row);
  flex-wrap: wrap;

  & .hero-info {
    flex: 1 1 46%;
    & h1 {
      margin: 1.5rem 0 2.5rem 0;
    }
    & h3 {
      margin: 1.5rem 0;
    }
    & .opening-date {
      width: 16.56em;
      text-align: center;
    }
  }
  & .hero-img {
    flex: 1 1 54%;
    & img {
      width: 100%;
      height: auto;
    }
  }
  & .partenrs {
    @include flex(space-between, center, row);
    margin-top: 2.5rem;
    & img {
      margin: 0 0.5rem;
    }
    & :first-child {
      margin-right: 1rem;
    }
    & :last-child {
      margin-right: 0;
    }
  }
}
