.mobile-nav {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  @include flex(flex-end, flex-end, column);
  & .floating-btn-container {
    @include flex(center, center, row);
    width: 5rem;
    height: 5rem;
    background-color: $yellow;
    border-radius: 50%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  & .mobile-nav-options {
    text-align: right;
    padding: 2rem;
    background-color: #ffffff;
    margin-bottom: -2.5rem;
    border-radius: 8px;
    border: 1.5px solid $black;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    display: none;
    & .options {
      & li {
        padding: 0.75rem 0;
        & ::after {
          color: $yellow;
          content: "-";
          margin-left: 0.5rem;
        }
      }
      &:last-child {
        margin-bottom: 2rem;
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 760px) {
  .mobile-nav {
    right: 2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }
}
