header {
  position: relative;
  background-color: $yellow;
}

.navbar {
  padding: 1.125rem 1rem;
  @include flex(center, center, row);
}

.sticky {
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.nav-links {
  display: none;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .navbar {
    padding: 1.125rem 2rem;
    &.bg-yellow {
      background-color: $yellow;
    }
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .navbar {
    padding: 1.125rem 4.5rem;
    @include flex(space-between, center, row);
  }

  .nav-links {
    @include flex(space-between, center, row);
    .link {
      margin: 0 2.25rem;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
