/* Typography */

body {
  font-family: degular, sans-serif;
  color: $black;
}

.bold-30 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 54px;
  letter-spacing: -1px;
}

.bold-24 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
}

.bold-23 {
  font-weight: 700;
  font-size: 1.4375rem;
}

.bold-21 {
  font-weight: 700;
  font-size: 1.3125rem;
}

.semibold-45 {
  font-weight: 600;
  font-size: 2.8125rem;
  line-height: 42px;
  letter-spacing: -1px;
}

.semibold-36 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 35px;
}

.semibold-30 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 35px;
}
.semibold-24 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
}

.semibold-19 {
  font-weight: 600;
  font-size: 1.1875rem;
}

.semibold-16 {
  font-weight: 600;
  font-size: 1rem;
}

.semibold-italic-30 {
  font-weight: 600;
  font-style: italic;
  font-size: 1.875rem;
  line-height: 36px;
}

.medium-30 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 36px;
}

.medium-24 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 36px;
}

.medium-23 {
  font-weight: 500;
  font-size: 1.4375rem;
}

.medium-21 {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 30px;
}

.medium-19 {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 25px;
}

.regular-21 {
  font-weight: 400;
  font-size: 1.3125rem;
}

.regular-19 {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.regular-18 {
  font-weight: 400;
  font-size: 1.125rem;
}

.regular-16 {
  font-weight: 400;
  font-size: 1rem;
}

.space-2px {
  letter-spacing: 0.2px;
}

.faq {
  line-height: 30px;
  letter-spacing: -1px;
}

.lecturer-card {
  & .semibold-30,
  .medium-24 {
    line-height: 26px;
  }
}
/* Mobile */
@media screen and (max-width: 480px) {
  .semibold-45 {
    font-size: 2.25rem;
  }

  .semibold-36 {
    line-height: 42px;
  }
}
