/* Functions */

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

/* Imports */

@import "global";
@import "colors";
@import "typography";
