/* Functions */
/* Imports */
/* Typography */
body {
  font-family: degular, sans-serif;
  color: #000000;
}

.bold-30 {
  font-weight: 700;
  font-size: 1.875rem;
}

.bold-24 {
  font-weight: 700;
  font-size: 1.5rem;
}

.bold-23 {
  font-weight: 700;
  font-size: 1.4375rem;
}

.bold-21 {
  font-weight: 700;
  font-size: 1.3125rem;
}

.semibold-45 {
  font-weight: 600;
  font-size: 2.8125rem;
}

.semibold-36 {
  font-weight: 600;
  font-weight: 2.25rem;
}

.semibold-24 {
  font-weight: 600;
  font-size: 1.5rem;
}

.semibold-19 {
  font-weight: 600;
  font-size: 1.1875rem;
}

.semibold-italic-30 {
  font-weight: 600;
  font-style: italic;
  font-size: 1.875rem;
}

.medium-30 {
  font-weight: 500;
  font-size: 1.875rem;
}

.medium-24 {
  font-weight: 500;
  font-size: 1.5rem;
}

.medium-23 {
  font-weight: 500;
  font-size: 1.4375rem;
}

.medium-21 {
  font-weight: 500;
  font-size: 1.3125rem;
}

.medium-19 {
  font-weight: 500;
  font-size: 1.1875rem;
}

.regular-21 {
  font-weight: 400;
  font-size: 1.3125rem;
}

.regular-19 {
  font-weight: 400;
  font-size: 1.1875rem;
}

.regular-18 {
  font-weight: 400;
  font-size: 1.125rem;
}

.regular-16 {
  font-weight: 400;
  font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

section {
  padding: 4.5rem;
}

.primary-btn {
  padding: 0.5rem 3.875rem 1rem 3.875rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: white 5px -5px 0px -2px, #000000 5px -5px;
          box-shadow: white 5px -5px 0px -2px, #000000 5px -5px;
}

.primary-btn.bg-yellow {
  -webkit-box-shadow: #f9c449 5px -5px 0px -2px, #000000 5px -5px;
          box-shadow: #f9c449 5px -5px 0px -2px, #000000 5px -5px;
}

.btn {
  margin: 0.5rem 0;
  padding: 1rem 4.75rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
}

/* Desktop */
.navbar {
  padding: 1.125rem 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar.bg-yellow {
  background-color: #f9c449;
}

.nav-links {
  display: none;
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-links .link {
    margin: 0 2.25rem;
  }
  .nav-links .link:first-child {
    margin-left: 0;
  }
  .nav-links .link:last-child {
    margin-right: 0;
  }
}

.hero {
  height: 77vh;
  background: #f9c449;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=style.css.map */