/* Functions */
/* Imports */
/* Typography */
body {
  font-family: degular, sans-serif;
  color: #000000;
}

.bold-30 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 54px;
  letter-spacing: -1px;
}

.bold-24 {
  font-weight: 700;
  font-size: 1.5rem;
}

.bold-23 {
  font-weight: 700;
  font-size: 1.4375rem;
}

.bold-21 {
  font-weight: 700;
  font-size: 1.3125rem;
}

.semibold-45 {
  font-weight: 600;
  font-size: 2.8125rem;
  line-height: 42px;
  letter-spacing: -1px;
}

.semibold-36 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.semibold-24 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
}

.semibold-19 {
  font-weight: 600;
  font-size: 1.1875rem;
}

.semibold-16 {
  font-weight: 600;
  font-size: 1rem;
}

.semibold-italic-30 {
  font-weight: 600;
  font-style: italic;
  font-size: 1.875rem;
  line-height: 36px;
}

.medium-30 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 36px;
}

.medium-24 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 36px;
}

.medium-23 {
  font-weight: 500;
  font-size: 1.4375rem;
}

.medium-21 {
  font-weight: 500;
  font-size: 1.3125rem;
}

.medium-19 {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 25px;
}

.regular-21 {
  font-weight: 400;
  font-size: 1.3125rem;
}

.regular-19 {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.regular-18 {
  font-weight: 400;
  font-size: 1.125rem;
}

.regular-16 {
  font-weight: 400;
  font-size: 1rem;
}

.space-2px {
  letter-spacing: 0.2px;
}

.week {
  line-height: 54px;
  letter-spacing: -1px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

section {
  padding: 0 4.5rem;
}

span.nowrap {
  white-space: nowrap;
}

.width-66 {
  width: 66%;
}

.flex-50 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-50 .column-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.flex-50 .column-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.grid-50 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 3rem 1.5rem;
}

.see-more-wrapper {
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.see-more-wrapper :first-child {
  margin-right: 1rem;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cube-wrapper {
  margin-right: 3.75rem;
}

/* Margins */
.padding-88 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.top-60 {
  margin-top: 3.75rem;
}

.top-44 {
  margin-top: 2.75rem;
}

.bottom-44 {
  margin-bottom: 2.75rem;
}

/* Buttons */
.primary-btn {
  margin-right: 5px;
  padding: 0.5rem 3.875rem 1rem 3.875rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: white 5px -5px 0px -1.5px, #000000 5px -5px;
          box-shadow: white 5px -5px 0px -1.5px, #000000 5px -5px;
}

.primary-btn.bg-yellow {
  -webkit-box-shadow: #f9c449 5px -5px 0px -2px, #000000 5px -5px;
          box-shadow: #f9c449 5px -5px 0px -2px, #000000 5px -5px;
}

.btn {
  margin: 0.5rem 0;
  padding: 1rem 4.75rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
}

/* Desktop */
.navbar {
  padding: 1.125rem 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar.bg-yellow {
  background-color: #f9c449;
}

.nav-links {
  display: none;
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-links .link {
    margin: 0 2.25rem;
  }
  .nav-links .link:first-child {
    margin-left: 0;
  }
  .nav-links .link:last-child {
    margin-right: 0;
  }
}

/* Hero section */
.hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #f9c449;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .hero-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 46%;
          flex: 1 1 46%;
}

.hero .hero-info h1 {
  margin: 1.5rem 0 2.5rem 0;
}

.hero .hero-info h3 {
  margin: 1.5rem 0;
}

.hero .hero-info .opening-date {
  width: 16.56em;
  text-align: center;
}

.hero .hero-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 54%;
          flex: 1 1 54%;
}

.hero .hero-img img {
  width: 100%;
  height: auto;
}

.hero .partenrs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2.5rem;
}

.hero .partenrs img {
  margin: 0 0.5rem;
}

.hero .partenrs :first-child {
  margin-right: 1rem;
}

.hero .partenrs :last-child {
  margin-right: 0;
}

.colored-cards {
  position: relative;
  border: 1.5px solid #000000;
  border-radius: 8px;
  margin-right: 18px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.colored-cards .card-content {
  padding: 1rem 2.25rem;
}

.colored-cards .card-description {
  margin: 1.25rem 0;
}

.colored-cards .card-background {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 100%;
  height: 100%;
  background-color: #fd624d;
  z-index: -1;
  border-radius: 8px;
  border: 1.5px solid #000000;
}

.case-study .window .window-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #5bbfeb;
  border-bottom: 1.5px solid #000000;
  border-radius: 4px 4px 0 0;
  border: 1.5px solid #000000;
}

.case-study .window .window-actions .window-icon-wrapper {
  padding: 0.5rem;
  border-right: 1.5px solid #000000;
}

.case-study .window .window-actions .window-icon-wrapper img {
  width: 1rem;
  height: auto;
}

.case-study .window .window-actions .window-icon-wrapper img.width-21 {
  width: 1.375rem;
}

.case-study .case-study-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 0 0 4px 4px;
  border: 1.5px solid #000000;
  border-top: none;
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.case-study .testimonial {
  margin-top: 1rem;
}

.case-study .testimonial q {
  margin-right: 0.5rem;
}

.case-study .testimonial .graduate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0.75rem;
}

.case-study .testimonial .graduate img {
  width: 3.5rem;
  height: auto;
  margin-right: 1.75rem;
  border-radius: 50%;
  border: 1.5px solid #000000;
}
/*# sourceMappingURL=style.css.map */