/* Functions */

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

/* Imports */

@import "colors";
@import "typography";
@import "global";
@import "nav";
@import "footer";
@import "home";
@import "cards";
@import "mobilenav";
